@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --font-title: 'Architects Daughter', cursive;
    --font-text:'Ubuntu', sans-serif;
}

body {
    font-family: var(--font-text);
}

.title h1{
    font-family: var(--font-title);
    font-weight: bolder;
    font-size: 2.8rem;
}

.logo {
    display: none;
}

.form-check {
    display: flex;
    align-items:center;
}

form input {
    margin-right: 0.5rem;
}

form label {
    margin-bottom: 0;
    font-style: italic;
}

.result span {
    height: 100%;
}

.btn:hover {
    background: #221e1e;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 10rem;
}

footer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img {
    width: 3rem;
    margin-right: 0.5rem;
}
/*Queries*/

@media(min-width: 768px){
    .logo {
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1.5rem;
    }
}
