
.logo {
    display: none;
}

.form-check {
    display: flex;
    align-items:center;
}

form input {
    margin-right: 0.5rem;
}

form label {
    margin-bottom: 0;
}

.result span {
    height: 100%;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 10rem;
}

footer {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img {
    width: 3rem;
    margin-right: 0.5rem;
}
/*Queries*/

@media(min-width >= 576px) {

}

@media(min-width: 768px){
    .logo {
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1.5rem;
    }
}

@media(min-width: 992px ) {
    
}

@media(min-width: 1200px) {

}

@media(min-width: 1400px){

}